<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<%= form_for @user do |f| %>

    <% if @user.errors.full_messages.any? %>
        <% @user.errors.full_messages.each do |error_message| %>
            <%= error_message if @user.errors.full_messages.first == error_message %> <br />
        <% end %>
    <% end %>
    <%= f.label(:email) %>:
    <%= f.text_field(:email) %><br />

    <%= f.label(:password) %>
    <%= f.password_field(:password) %><br />

    <%= f.label(:password_confirmation) %>
    <%= f.password_field(:password_confirmation) %><br />

    <%= f.submit %>
<% end %>

<%= link_to 'Login', new_session_path %>
</body>
</html>